.sidebar{
    font-family: $primary-font;
    padding: 10px 20px;
    margin: auto;

        &__cabecera-listado {
            width: 90%;
            border-bottom: 1px solid gray;
        }

        &__tags {
            border-bottom: 1px solid gray;
        }

        &__tags ul {
            padding: 0;
            list-style: none;
        }

        &__tags ul li {
            display: flex;
            display: inline-block;
            padding: 2px 4px;
            background-color: steelblue;
            border-radius: 5px;
            margin-right: 1px;
            color: white;
        }

        &__noticias-destacadas {
            margin-bottom: 50px;
        }

        &__noticias-destacadas img {
            width: 220px;
            height: 200px;
        }

}